@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Phone: <a href="tel:+8004469635"> 1-800-446-9635</a> <br />
    Address: 12772 Saratoga Sunnyvale Rd #1000<br />
    Saratoga, CA 95070<br />
    <a href="https://april.apr.com">april.apr.com</a>

</address>

<address>
    <strong>Technical Support:</strong> <a href="mailto:help@apr.com">help@apr.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@apr.com">marketing@apr.com</a>
</address>
