@{
    ViewData["Title"] = "DANNY HERNANDEZ";
}

<div class="bioContent">
        <div class="card">
            <img src="~/images/danny.png" alt="Danny Pic" />
            <center><h2>@ViewData["Title"]</h2></center>
            <div>
                <p style="padding-top:2.5%; padding-left:5%; padding-right:5%;">
                    I'm Daniel Hernandez, born in Mexico and I’ve lived in San Jose most of my life. I have a wonderful wife Heather and I’m a father of 2 high energy boys,
                    Jonathan and Lorenzo, and 2 pups, Lola and Tito. When I’m not working with the APR Tech Team I’m working on one of the few classic cars I own
                    or cruising them around town with my family.
                </p>
                <p style="padding-left:5%; padding-right:5%; padding-bottom:5%;">
                    I’ve been with Alain Pinel Realtors Tech department since the summer of 2000. My career started at APR as a Help Desk Technician and I’m currently the Help Desk Supervisor
                    with a few other positions in between. My love for learning new things and tinkering with computers has kept me
                    interested in tech all these years. Being with APR so long has given me the opportunity to see the company grow
                    into what it is today and has helped my respect for our Agents grow immensely. My love for tech is only
                    overshadowed by my passion for Customer Service and creating the Agent Experience Alain Pinel is known for.
                </p>
            </div>
        </div>

</div>