@{
    ViewData["Title"] = "EDGAR CISNEROS";
}
<div class="bioContent">
    <div class="card">
        <img src="~/images/edgar.jpg" alt="Edgar Pic" />
        <center><h2>@ViewData["Title"]</h2></center>
        <div>
            <p style="padding-left:5%; padding-right:5%; padding-bottom:5%; padding-top:2.5%;">
                Hi! My name is Edgar Cisneros, my love for tech began when I was about 5 years old and was introduced to video games. 
                As I grew older and iPhones became more popular, I was the guy that jailbroke all of my friends iPhones. I was always the guy that did this 
                for my friends, as everyone was always worried about doing something wrong and ruining their iphone.
                <br />
                I enjoy working out and going on hikes here and there when I can. I have 3 little doggies and the oldest is close 
                to 15 now! I enjoy watching the warriors play and hope to go to a game sometime soon!
            </p>
        </div>
    </div>

</div>