@{
    ViewData["Title"] = "KEVIN HOM";
}
<div class="bioContent">
    <div class="card">
        <img src="~/images/kevinhom.jpg" alt="Kevin Pic" />
        <center><h2>@ViewData["Title"]</h2></center>
        <div>
            <p  style="padding-left:5%; padding-right:5%; padding-top:2.5%;">
                My name is Kevin Hom and I am one of your help desk technicians. My love affair with all things technology 
                related began at an early age as a walking stereotype of a classic 80’s movie nerd. I was and still am allergic to everything outside,
                 so I spent my formative years hiding out inside banging on our family computer which I had almost certainly just broken. 
                 Rest assured that my computer fixing skills have increased substantially from the tender age of five. 
                 My troubleshooting process as an adult consists of substantially less crying and yelling.
            </p>
            <p style="padding-left:5%; padding-right:5%; padding-bottom:5%;">
                As I grew up, my interests branched out a little bit and I ended up playing tennis for the better part of a decade all
                through high school and a few years in college. These days, I spend most of my free time hanging out with my amazing wife
                and dodging questions from friends and family about when we’re going to have kids. I still spend more time than is reasonable
                 on my computer doing one nerdy thing or another. On the off chance I venture out into the world,
                 I occasionally play disc golf with my friends and I’ve recently gotten into Brazilian Jiu-Jitsu and
                 much to the dismay of those closest to me, especially my wife, it’s pretty much all I talk about anymore.
                <br />
                I suppose that’s me in a nutshell and I look forward to working with all of you.
            </p>
        </div>
    </div>

</div>