@{
    ViewData["Title"] = "RAUL ORTEGA";
}
<div class="bioContent">
    <div class="card">
        <img src="~/images/raul.jpg" alt="Raul Pic" />
        <center><h2>@ViewData["Title"]</h2></center>
        <div style="padding-left:5%; padding-right:5%; padding-top:2.5%; padding-bottom:5%;">
            <p>
                My name is Raul Ortega. I am part of the Helpdesk team here in Alain Pinel. My love for technology is big and always growing.
                Living in the heart of Silicon Valley Technology is always developing which means always something new to learn.
                I take my work seriously and will do whatever I can to help. I love learning and trying new things. 
                I am a confident, honest, never shy, genuine human being. Outside of work I love being with my family, 
                working on cars, hitting the gym, and playing football.
            </p>
        </div>
    </div>

</div>