@{
    ViewData["Title"] = "TAMARIS ALVES";
}
<div class="bioContent">
    <div class="card">
        <img src="~/images/tams.jpg" alt="Tamiris Pic" />
        <center><h2>@ViewData["Title"]</h2></center>
        <div>
            <p style="padding-left:5%; padding-right:5%; padding-top:2.5%;">
                My name is Tamiris Alves, your friendly help desk tech. Growing up in Brazil, I never had a whole lot of
                technology besides your normal house hold appliances. So, when I arrived in the United States at age 12
                I was completely drawn to computers. Not to mention-there were computers in school! That all was so
                new to me. After playing around with our in-home computer for a few months, I stumbled across Adobe
                Photoshop and Illustrator. A year later I was editing photos for family members and friends. My love for
                technology grows everyday as I learn new things tech related. That is the wonderful thing about
                technology-you can never stop learning new tricks and skills with it.
            </p>
            <p style="padding-left:5%; padding-right:5%; padding-bottom:5%;">
                In college I opted for technology heavy courses that consisted of programming classes as well as
                engineering courses. I am currently in school for Systems Engineering, and when I graduate I would like
                to further my career in the engineering or tech field. I have a passion for disassembling iPhones and
                iPads and fixing them (if broken), or just to see how all the components inside work. As far as my active
                life goes, I am a proud member of the couch potato club.
            </p>
        </div>
    </div>

</div>